<!DOCTYPE html>
<html ng-app="questFyApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
	<title ng-bind="'Quest.Fy - ' + $root.title"></title>
	<link rel="stylesheet" type="text/css" href="assets/css/app.css">
	<link rel="stylesheet" type="text/css" href="assets/css/quest.fy.css">
	<!-- <base href="/klaus/quest-fy/"> -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=RobotoDraft:400,700' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="MainController" layout="row">

	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
		<md-toolbar>
			<h1 class="md-toolbar-tools">Sidenav Left</h1>
		</md-toolbar>
	  	<md-content class="md-padding">
    		<p hide-md show-gt-md>
		      This sidenav is locked open on your device. To go back to the default behavior,
		      narrow your display.
		    </p>
	  	</md-content>
    </md-sidenav>

	<div layout="column" role="main" flex>

		<md-toolbar>
			<div class="md-toolbar-tools">
	      		<h3 class="md-toolbar-item">
		        	<span ng-click="toggleLeft()">My Tasks</span>
	      		</h3>
	      	</div>
	    </md-toolbar>
		<md-content md-scroll-y flex style="height 600px;">
			<md-subheader class="md-primary">Unread Messages</md-subheader>
			<md-list>
	      		<md-item ng-repeat="sprite in todos">
		        	<img ng-src="http://pokeapi.co{{sprite.image}}" alt="{{sprite.pokemon.name}}">
		      	</md-item>
		    </md-list>
		</md-content>
		<section>
			<div ng-view>
				
			</div>
		</section>
		<footer>
			
		</footer>
	</div>

	
	<script type="text/javascript" src="assets/js/assets.js"></script>
	<script type="text/javascript" src="assets/js/app.js"></script>
	<script type="text/javascript" src="assets/js/shared.js"></script>
</body>
</html>