<div class="task" ng-class="task.status | taskStatus" ng-mouseleave="taskFct.toogleOption(list)">
	<i class="go-single-button fa fa-plus go-left go-positive" ng-click="taskFct.updateStatus(list, task, 1)"></i>
	<i class="go-single-button fa fa-minus go-left go-negative" ng-click="taskFct.updateStatus(list, task, -1)"></i>
	<span class="title">{{task.name}}</span>
	<i class="go-single-button fa fa-ellipsis-v go-left go-options" ng-class="{'invert':task.options}" ng-click="taskFct.toogleOption(list, task)"></i>
	<ul class="task-options" ng-class="{'active':task.options}">
	    <li class="go-full-button go-options invert option op1" ng-click="taskFct.cloneTask(list, task)">
	    	<span><i class="fa fa-copy fa-fw"></i> Copiar</span>
	    </li>
	    <li class="go-full-button go-options invert option op2"  ng-click="open(task)">
	    	<span><i class="fa fa-edit fa-fw"></i> Editar</span>
	    </li>
	    <li class="go-full-button go-options invert option op3" ng-click="taskFct.deleteTask(list, task);">
	    	<span><i class="fa fa-trash fa-fw"></i> Deletar</span>
	    </li>
	    <li class="go-full-button go-options invert option op4" ng-click="taskFct.showTask(task)">
	    	<span><i class="fa fa-eye fa-fw"></i> Exibir</span>
	    </li>
  	</ul>
</div>