<input type="text" value="" ng-model="newList.title">
<button ng-click="">Adicionar lista</button>
<button ng-click="deleteAllLists()">Deletar Listas</button>
<!-- <ul>
	<li ng-repeat="list in lists">
		<task-list></task-list>
	</li>
</ul> -->

<div class="floating-block add-tasks editable-block" ng-swipe-action="alohinha">
	<div class="placeholder-text" tabindex="0" ng-class="{'focus':editableFocus}" ng-if="!newList.title.length">Qual é sua próxima lista?</div>
	<input type="text" class="editable-container" ng-model="newList.title" ng-focus="editableFocus = true" ng-blur="editableFocus = false" ng-enter="addList(newList); newList.title = '';"/>
</div>
<div modal-button modal-id="12" style="height: 30px;"></div>
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1 col-xs-10">
	<div class="row col-lg-8 col-md-6 col-sm-6 col-xs-12">
		<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
			<task-list ng-repeat="list in lists" ng-if="$index%2==0"></task-list>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
			<task-list ng-repeat="list in lists" ng-if="$index%2==1"></task-list>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		<div style="background: black; width:300px; height: 100px;"></div>
	</div>
</div>

<!-- <div id="modal">
	<div id="modal_overlay"></div>
	<div id="modal_box">
		<div id="modal_content"></div>
	</div>
</div> -->