$primary-color: 		#F44336;
$primary-darker-color: 	#D32F2F;
$primary-lighter-color: #FFCDD2;

$secondary-color: 			#FFAB40;
$secondary-darker-color: 	#FF9100;
$secondary-lighter-color: 	#FFD180;

$dark-divider:	rgba(0,0,0,.12);
$dark-disabled: rgba(0,0,0,.26);
$dark-sec-text: rgba(0,0,0,.54);
$dark-text: 	rgba(0,0,0,.87);

$light-divider:		rgba(255,255,255,.12);
$light-disabled: 	rgba(255,255,255,.30);
$light-sec-text: 	rgba(255,255,255,.70);
$light-text: 		rgba(255,255,255,1);

$clickable-size: 48px;

$main-font: 'Roboto Condensed','Times New Roman',serif;
$title-font: 'Roboto','Times New Roman',serif;

$desktop-width: 992px;
$tablet-width: 768px;

$desktop-header: 64px;
$mobile-header: 56px;

/** MIXINS - START **/
@mixin border-radius($radius) {
	-webkit-border-radius: 	$radius;
	-moz-border-radius: 	$radius;
	-ms-border-radius: 		$radius;
	border-radius: 			$radius;
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}

/** MIXINS - END **/
/** ELEMENTS - START **/
body {
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	* {
		font-family: $main-font;
	}

	.disable-scroll{
		overflow-y: hidden;
	}
}

ul, ol{
	list-style: none;
	margin: 0;
	padding: 0;
}

a, a:hover, a:visited, a:active{
	color: inherit;
}
/** ELEMENTS - END **/
/** EXTANDABLE - START **/
.header{
	height: $desktop-header;
	line-height: $desktop-header;
	width: 100%;
	font-size: 24px;
	display: block;
	font-family: $title-font;

	@include mobile{
		height: $mobile-header;
		line-height: $mobile-header;
		font-size: 20px;
	}
}

.clickable-box{
	height: $clickable-size;
	line-height: $clickable-size;
}

.button{
	@extend .clickable-box;
	text-align: center;
	width: $clickable-size;
	font-size: 20px;
	cursor: pointer;

	@include mobile{
		font-size: 16px;
	}

	&:active{
		box-shadow: inset 0 0 5px rgba(0,0,0,.35);
	}
}
/** EXTANDABLE - END **/
/** CUSTOM - START **/
.content{
	width: 100%;
	height: 100%;
	transform: none;
	transition: all 0.8s;
	overflow-y: scroll;
	z-index: 5;
}

.content-header{
	@extend .header;
	box-shadow: 0 1px 5px rgba(0,0,0,.40);
	background: $primary-color;
	color: $light-text;
	position: fixed;
	top: 0;
	z-index: 50;
}

.fake-header{
	@extend .header;
}

.page-title{
	@extend .header;
	float: none;
	position: fixed;
	left: 72px;
	right: 72px;
	top: 0;

	@include mobile{
		left: 56px;
		right: 56px;
	}
}

.fixed-button{
	position: fixed;
	@extend .button;
}

.menu-controller{
	@extend .fixed-button;
	left: 12px;
	top: 8px;

	@include mobile{
		left: 4px;
		top: 4px;
	}
}

.navbar{
	border-radius: 0;
}

.floating-block{
	background: #FFFFFF;
	width: 60%;
	margin: 48px auto 32px;
	border-radius: 2px;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07),0px 1px 5px rgba(0,0,0,.3);
	position: relative;
	height: 48px;
	min-width: 300px;
}

.placeholder-text{
	color: #999999;
	position: absolute;
	width: 100%;
	outline: none;
}

.placeholder-text, .editable-container{
	padding: 12px 12px 16px 12px;
}

.editable-container, .placeholder-text.focus{
	color: #666666;
}

.editable-container{
	outline: none;
	white-space: pre-wrap;
	word-wrap: break-word;
	position: absolute;
	width: 100%;
	border: none;
	background: transparent;
}
/** CUSTOM - END **/
/** ASIDE MENU - START **/
.aside-menu{
	width: 240px;
	height: auto;
	position: absolute;
	top: 0;
	transform: translate3d(-240px, 0 , 0);
	z-index: 5;
	bottom: 0;
	transition: all 0.8s;

	.aside-title{
		@extend .header;
		padding: 0px 0px 0px 24px;
		color: #F44336;
		border-bottom: 1px solid $primary-lighter-color;
	}

	.aside-navigator{
		width: 100%;
		background: $light-text;
		padding: 12px 0 12px 0;

		.item{
			@extend .clickable-box;
			font-size: 14px;
			width: 100%;
			color: $dark-text;
			font-weight: bolder;

			a{
				padding: 0 24px;
				width: 100%;
				height: 100%;
				display: block;
				text-decoration: none;

				&:active{
					background: $primary-lighter-color;
					color: $primary-color;
				}

				&.active{
					color: $primary-color;
				}
			}
		}
	}
}

.aside-menu.open{
	transform: translate3d(0, 0 , 0);
	box-shadow: 0 0 10px rgba(20,20,20,.8);
}

.slide-content{
	transform: translate3d(240px, 0 , 0);
}
/** ASIDE MENU - END **/