$primary-color: 		"#F44336";
$primary-darker-color: 	"#D32F2F";
$primary-lighter-color: "#FFCDD2";

$secondary-color: 			"#FFAB40";
$secondary-darker-color: 	"#FF9100";
$secondary-lighter-color: 	"#FFD180";

$dark-divider:	rgba(0,0,0,.12);
$dark-disabled: rgba(0,0,0,.26);
$dark-sec-text: rgba(0,0,0,.54);
$dark-text: 	rgba(0,0,0,.87);

$light-divider:		rgba(255,255,255,.12);
$light-disabled: 	rgba(255,255,255,.30);
$light-sec-text: 	rgba(255,255,255,.70);
$light-text: 		rgba(255,255,255,.100);

$main-font: 'Roboto Condensed','Times New Roman',serif;
$title-font: 'Roboto','Times New Roman',serif;

$desktop-width: 992px;
$tablet-width: 768px;

$desktop-header: 64px;
$mobile-header: 56px;

/** MIXINS - START **/
@mixin border-radius($radius) {
	-webkit-border-radius: 	$radius;
	-moz-border-radius: 	$radius;
	-ms-border-radius: 		$radius;
	border-radius: 			$radius;
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}

/** MIXINS - END **/
/** ELEMENTS - START **/
body {
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: static;

	* {
		font-family: $main-font;
	}
}

ul, ol{
	list-style: none;
	margin: 0;
	padding: 0;
}

a, a:hover, a:visited, a:active{
	color: inherit;
}
/** ELEMENTS - END **/
/** CUSTOM - START **/
.content{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform: translate3d(0, 0 , 0);
	transition: all 0.8s;
	overflow-y: scroll;
	z-index: 5;
}

.content-header{
	background: #C3272B;
	height: 40px;
	width: 100%;
	display: block;
}

.page-title{
	font-size: 20px;
	float: left;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-family: 'Roboto','Times New Roman',serif;
}

.navbar{
	border-radius: 0;
}

.floating-block{
	background: #FFFFFF;
	width: 60%;
	margin: 48px auto 32px;
	border-radius: 2px;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07),0px 1px 5px rgba(0,0,0,.3);
	position: relative;
	height: 48px;
	min-width: 300px;
}

.placeholder-text{
	color: #999999;
	position: absolute;
	width: 100%;
	outline: none;
}

.placeholder-text, .editable-container{
	padding: 12px 12px 16px 12px;
}

.editable-container, .placeholder-text.focus{
	color: #666666;
}

.editable-container{
	outline: none;
	white-space: pre-wrap;
	word-wrap: break-word;
	position: absolute;
	width: 100%;
	border: none;
	background: transparent;
}
/** CUSTOM - END **/